<section id="showcase" class="showcase">
{% for slide in page.header.slides %}
	<article>
		<div class="slide-content-outer">
			<div class="slide-content-inner">
				<h3 class="slide-title">{{ slide.title }}</h3>
				<div class="slide-content">{{ slide.content|markdown }}</div>
				<div class="slide-button">
					<a href="{{ slide.button_link }}">{{ slide.button_text }}</a>
				</div>
			</div>
		</div>
		<div class="image-content" style="background-image: url({{ page.media[slide.image].cropZoom(960,380).url() }}); "></div>
	</article>
{% endfor %}
</section><!--.showcase-->
