<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if header.description %}
    <meta name="description" content="{{ header.description }}">
    {% else %}
    <meta name="description" content="{{ site.description }}">
    {% endif %}
    {% if header.robots %}
    <meta name="robots" content="{{ header.robots }}">
    {% endif %}
    <link rel="icon" type="image/png" href="{{ theme_url }}/images/favicon.ico">

    <title>{% if header.title %}{{ header.title }} | {% endif %}{{ site.title }}</title>

<!--              __ _           _ 
                 / _| |         | |
   ___ _ __ __ _| |_| |_ ___  __| |
  / __| '__/ _` |  _| __/ _ \/ _` |
 | (__| | | (_| | | | ||  __/ (_| |
  \___|_|  \__,_|_|  \__\___|\__,_|                   
  Crafted by Kaleb Heitzman using
  bourbon, neat, and crafted.        -->

    {% block stylesheets %}
        {# <= IE8 styles #}
    	{% if browser.getBrowser == 'msie' and browser.getVersion <= 8 %}
    	{% endif %}
        {# > IE8 styles #}
    	{% if browser.getBrowser == 'msie' and browser.getVersion > 8 %}
    	{% endif %}

    	{# custom styles for this theme #}
        {% do assets.add('theme://css/slippry.css', 10) %}
    	{{ assets.css() }}
    {% endblock %}
{% endblock head %}
</head>
<body>

    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <a id="top"></a>

	{# include the header + navigation #}
    {% include 'partials/header.html.twig' %}

    {# main page content #}
    <main id="content" role="main">
    	{% block content %}{% endblock %}
    </main><!--/main-->

    {# include the colophon #}
    {% include 'partials/colophon.html.twig' %}

	{# include the footer #}
    {% include 'partials/footer.html.twig' %}

    {# javascripts #}
    {% block javascripts %}
        {{ assets.js() }}
    {% endblock %}

    {% block bottom %}{% endblock %}

</div><!--.wrapper-->
</body>
</html>
