{% macro loop(page) %}
    {% for p in page.children.visible %}
        {% set current_page = (p.active or p.activeChild) ? 'active' : '' %}

        <li class="{{ current_page }}">
            <a href="{{ p.url }}">
                {% if p.header.icon %}<i class="fa fa-{{ p.header.icon }}"></i>{% endif %}
                {{ p.menu }}
            </a>
            {% if p.children.visible.count > 0 %}
                <ul class="nav-dropdown">
            		{% set has_children = (p.children.visible.count != 0) ? 'has-children' : '' %}
                    <li class="{{ current_page }} {{ has_children }}">
                        <a href="{{ p.url }}">{{ p.menu }}</a>
                        {% if p.children.visible.count > 0 %}
                            <ul class="vertical menu submenu">
                                {{ _self.loop(p) }}
                            </ul>
                        {% endif %}
                    </li>
                </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

{% set page_count = pages.children.visible|length %}
{% set break_count = page_count/2 %}
{% set i = 0 %}

<nav>
    <div class="nav-mobile">
        <a id="nav-toggle" href="#!"><span></span></a>
    </div>
    <ul class="nav-menu">
        {% if grav.theme.config.dropdown.enabled %}
            {{ _self.loop(pages) }}
        {% else %}
            {% for page in pages.children.visible %}
                {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
                <li class="{{ current_page }}">
                    <a href="{{ page.url }}">
                        {% if page.header.icon %}<i class="fa fa-{{ page.header.icon }}"></i>{% endif %}
                        {{ page.menu }}
                    </a>
                </li>
                {% set i = i+1 %}
            {% endfor %}
        {% endif %}
        {% if config.plugins.login.enabled and grav.user.username %}
            <li><i class="fa fa-lock"></i> {% include 'partials/login-status.html.twig' %}</li>
        {% endif %}
    </ul>
</nav>
