<nav>
    <div class="nav-mobile">
        <a id="nav-toggle" href="#!"><span></span></a>
    </div>
    <ul class="nav-menu">
        {% for page in pages.children.visible %}
            {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
            <li class="{{ current_page }}">
                <a href="{{ page.url }}">{{ page.menu }}</a>
                {% if page.children.visible.count > 0 %}
                    <ul class="nav-dropdown">
                        {% for subpage in page.children.visible %}
                            <li>
                                <a href="{{ subpage.url }}">{{ subpage.menu }} </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</nav>
