{% macro loop(page) %}
    {% for p in page.children.visible %}
        {% set current_page = (p.active or p.activeChild) ? 'active' : '' %}
		{% set has_children = (p.children.visible.count != 0) ? 'has-children' : '' %}
        <li class="{{ current_page }} {{ has_children }}">
            <a href="{{ p.url }}">{{ p.menu }}</a>
            {% if p.children.visible.count > 0 %}
                <ul class="vertical menu submenu">
                    {{ _self.loop(p) }}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

{# Mobile Offcanvas Navigation #}
<aside class="off-canvas" role="navigation">
	<h1>
		<a href="{{ base_url_absolute }}">
            <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt={{ site.title }}&w=350&h=150&bg=0065ff&txtcolor=fff" class="logo" />
        </a>
	</h1>

	{{ _self.loop(pages) }}

</aside><!--/mobile-menu-->
