{% extends 'partials/base.html.twig' %}

{% macro pageLinkName(text) %}{{ text|lower|replace({' ':'_'}) }}{% endmacro %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block bottom %}
    {{ parent() }}
{% endblock %}

{% block content %}
	{{ page.content }}
	{% for module in page.collection() %}

		{% set backgroundImgSrc = module.header.styles.background %}
		{% set backgroundImg = module.media[backgroundImgSrc] %}
		{% set style = (backgroundImg != null) ? 'style="background-image: url("' ~ backgroundImg.cropZoom(1120,800).url() ~ ')"': null %}

		{# start breakout #}
		{% if module.header.styles.breakout == true %}
			<div id="{{ module.slug|ltrim('_') }}" class="breakout" style="{% if backgroundImg != null %}background-image: url({{backgroundImg.cropZoom(1120,800).url()}}); {% endif %}">
		{# start cointainer #}
		{% elseif module.header.styles.row_start == true %}
			<div class="container">
		{% endif %}

		{# module content #}
		{% if module.header.styles.breakout == true %}
			{{ module.content }}
		{% else %}
			<div id="{{ module.slug|ltrim('_') }}" class="{{ module.header.styles.grid_size }}">
				{{ module.content }}
			</div>
		{% endif %}

		{# end breakout #}
		{% if module.header.styles.breakout == true %}
			</div><!--#{{ module.slug|ltrim('_') }}.breakout-->
		{# end container #}
		{% elseif module.header.styles.row_end == true %}
			</div><!--.container-->
		{% endif %}

    {% endfor %}
{% endblock %}
